.fullPage {
  overflow: hidden;
  background-color: #8c8d8d;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.points{
    color: rgb(228, 17, 17);
}
.page{
    justify-items: center;
}
.Hobbies{
    justify-items: center;
}
.Music{
    justify-items: center;
}
h1{
    font-family:"Mountains of Christmas", serif; ;
} 
p{
    font-family:"Bangers", system-ui;
    font-size: 17px;
}
ul li{
    font-family:"Bangers", system-ui;
}
ol li{
    font-family:"Bangers", system-ui;
}
